/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.htaccess
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.history
database/migrations/2022_12_14_173021_create_permission_tables.php
composer.lock
package-lock.json
.history/
